<?xml version='1.0' encoding='utf-8'?>
<widget id="org.elearninglab.iCorsi2" version="0.1 beta 1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iCorsi2</name>
    <description>
		Moodle mobile app for icorsi.ch installation
    </description>
    <author email="goran.josic@usi.ch" href="http://www.elearninglab.org">
		eLab - Goran Josic
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
