$base-color: #525252;
$active-color: #C35817;
$border-color: #dedede;

// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
// Examples of using the icon mixin:
// @include icon('user');
// Your custom code goes here...
@include sencha-button-ui('black_button', black, null);
@include icon('home');
@include icon('user');
@include icon('info');
@include icon('list');
@import 'scorm_panel';

// scorm reader icons
@include icon-font('IcoMoon', inline-font-files('icomoon/icomoon.woff', woff, 'icomoon/icomoon.ttf', truetype,'icomoon/icomoon.svg', svg));
@include icon('bullhorn', '\e600', 'icoMoon');
@include icon('bookmark', '\e000', 'icoMoon');
@include icon('leftarrow', '\e001', 'icoMoon');
@include icon('rightarrow', '\e002', 'icoMoon');
@include icon('marker', '\e003', 'icoMoon');

/*
 *
 * About the app
 *
 * */
.about {
	.title {
		font-size: 15px;
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.content {
		font-size: small;
		padding-bottom: 5px;
	}
}

.version {
	color: gray;
	font-size: small;
	text-align: right;
	padding-right: 5px;
}

.appbar {
	opacity: 0.9;
	background-color: $base-color*0.5;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-o-transition: right 0.5s;
	transition: right 0.5s;	
	.app_bar_button {
		color: $base-color*0.5;
		border: 3px solid $base-color*0.5;
		background-color: white;
		opacity: 1 !important;
		font-size: 27px;
	}
}

.x-navigationview-inner {
	-webkit-transition: margin-right 0.3s;
	-moz-transition: margin-right 0.3s;
	-o-transition: margin-right 0.3s;
	transition: margin-right 0.3s;	
}

.x-course,
.x-recent-activity,
.x-calendar-event,
.x-module,
.x-grade,
.x-folder-entry,
.x-directory-entry,
.x-forum-discussion {
	padding: 5px;
	border-bottom: 1px solid $border-color;
}


.x-course-section {
	background-color: white;
	padding-top: 10px;
	padding-left: 3px;
	border-bottom: 2px solid $border-color;
	.summary {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: small;
	}
}

.x-course-section-invisible {
	color: gray !important;
	background-color: white !important;
}

.x-course-section-invisible-badge {
	text-align: right;
	padding-right: 5px;
}

.x-modules-list { }

.x-module-name,
.x-recent-activity,
.x-folder-entry,
.x-directory-entry {
	padding-top: 10px;
	text-indent: 35px;
}

.x-directory-entry {
	padding-top: 15px;
	padding-bottom: 15px;
}


.x-module-icon-choice,
.x-module-icon-assign,
.x-module-icon-assignment,
.x-module-icon-folder,
.x-module-icon-icon,
.x-module-icon-forum,
.x-module-icon-page,
.x-module-icon-scorm,
.x-module-icon-url {
}

.x-module-icon-assign {
	background:url('../images/assignment.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-assign-gray {
	background:url('../images/assignment_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-assignment {
	background:url('../images/assignment.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-assignment-gray {
	background:url('../images/assignment_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-choice {
	background:url('../images/choice.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-choice-gray {
	background:url('../images/choice_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-folder,
.x-subdirectory-icon,
.x-subfolder-icon {
	background:url('../images/folder.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-folder-gray {
	background:url('../images/folder_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-file-icon {
	background:url('../images/file.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-file-icon-gray {
	background:url('../images/file_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-forum {
	background:url('../images/forum.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-forum-gray {
	background:url('../images/forum_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-page {
	background:url('../images/page.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-page-gray {
	background:url('../images/page_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-book {
	background:url('../images/book.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-book-gray {
	background:url('../images/book_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-quiz {
	background:url('../images/quiz.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-quiz-gray {
	background:url('../images/quiz_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-scorm {
	background:url('../images/scorm.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-scorm-gray {
	background:url('../images/scorm_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-resource {
	background:url('../images/resource.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-resource-gray {
	background:url('../images/resource_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-workshop {
	background:url('../images/workshop.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-workshop-gray {
	background:url('../images/workshop_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-data {
	background:url('../images/database.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-data-gray {
	background:url('../images/database_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-glossary {
	background:url('../images/glossary.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-glossary-gray {
	background:url('../images/glossary_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-wiki {
	background:url('../images/wiki.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-wiki-gray {
	background:url('../images/wiki_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-feedback {
	background:url('../images/feedback.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-feedback-gray {
	background:url('../images/feedback_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-url {
	background:url('../images/url.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-calendar_event {
	background:url('../images/calendar.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-icon-url-gray {
	background:url('../images/url_gray.png');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 5px;
}

.x-module-name {
	word-wrap: break-word;
	overflow: hidden;
}

.x-course-module-status,
.x-module-modname,
.x-forum-discussion-stat,
.x-folder-entry-mime {
	text-align: right;
	color: gray;
	font-size: small;
}

.x-module-info {
	width: 20px;
	margin-bottom: 3.5px;
	background:url('../images/info.png');
	background-repeat: no-repeat;
	background-position: right bottom;
}

.x-module-intro,
.x-calendar-event-description {
	padding: 10px;
	margin-top: 3px;
	border: 2px solid gray;
	border-radius: 7px;
	background-color: white;
}
.x-calendar-event-description {
	margin-left: 0px;
}

.x-grade-data {
	text-align: right;
	color: black;
	font-size: 1.1em;
}

.x-grade-is-passing-grade {
	color: green;
}

.x-grade-is-not-passing-grade {
	color: red;
}

.x-grade-passing-grade {
	color: gray;
	font-size: small;
}

.participant {
	border-bottom: 1px solid $border-color;
	background-color: white;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 7px;
}

.x-participant-firstname {
	margin-left: 5px;
	margin-right: 5px;
}

.x-participant-email {
	color: gray;
	font-size: small;
	margin-top: -10px;
	padding-left: 40px;
	margin-bottom: 7px;
}

.x-participant-networks {
	height: 16px;
}

.participant-selected {
	background-color: white;
}

.x-participant-contact-button {
	margin-top: 10px;
}

.x-calendar-event-timestart,
.x-calendar-event-timeduration {
	color: gray;
	font-size: small;
}

/*
 *
 * Forum related classes
 *
 * */

.x-forum-discussion {
	padding-top: 15px;
}

.forum-post-list {	
}

.forum-intro,
.forum-post {
	margin-bottom: 10px;
	border: 1px solid $border-color;
	padding: 5px;
	word-break: break-all;
}

.forum-post-selected {
	background-color: white;
}

.x-post-firstname {
	margin-top: -10px;
	margin-left: 5px;
	margin-right: 5px;
}

.x-post-lastname {
	margin-top: -10px;
}

.x-post-date {
	position: relative;
	top: -12px;
	left: 42px;
	color: gray;
	font-size: small;
}

.x-post-subject {
	font-weight: bold;
	padding-top: 10px;
}

.x-post-message {
	padding-top: 10px;
	padding-bottom: 10px;
}

.x-post-indentation-0 {}

.x-post-indentation-1 {
	width: 98% !important;
	margin-left: 2%;
}

.x-post-indentation-2 {
	width: 96%;
	margin-left: 4%;
}

.x-post-indentation-3 {
	width: 94%;
	margin-left: 6%;
}

.x-post-indentation-4 {
	width: 92%;
	margin-left: 8%;
}

.x-post-indentation-5 {
	width: 90%;
	margin-left: 10%;
}

.x-post-indentation-6 {
	width: 88%;
	margin-left: 12%;
}

.x-post-indentation-7 {
	width: 86%;
	margin-left: 14%;
}

.x-post-indentation-8 {
	width: 84%;
	margin-left: 16%;
}

.x-post-indentation-9 {
	width: 82%;
	margin-left: 18%;
}

.x-post-indentation-10 {
	width: 80%;
	margin-left: 20%;
}

.x-post-attachment-list {
	padding-top: 15px;
	.x-post-attachment-entry {
		.x-post-attachment-file {
			color: $active-color;
		}
	}
}

.x-post-reply {
	.parent-post {
		background-color: white;
		padding: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding: 10px;
		.userinfo {
			margin-bottom: 10px;
		}

		.content {
			.subject {
				margin-bottom: 10px;
			}
		}
	}
}

/*
 *
 * Assignment and Choices related classes
 *
 * */
.assignment-intro,
.assignment-previous-submission,
.assignment-chosen-files-list,
.choice-intro,
.choice-status,
.activity-dates {
	background-color: white;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.activity-dates {
	margin-top: 10px;
}

.assignment-chosen-files-list div.file-entry {
	margin-bottom: 5px;
}

.assignment-previous-submission,
.choice-status {
	margin-top: 10px;
}

.fileslot-filename {
	padding-top: 15px;
	padding-left: 10px;
	font-weight: bold;
	color: gray;
	font-style: italic;
}

/*
 *
 * Assign and Assignment related classes
 *
 * */
.assignment{
	.intro {
		background-color: white;
		padding: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.dates,
	.last-submission {
		margin-top: 10px;
		background-color: white;
		padding: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.toosoon,
	.toolate,
	.noresubmit,
	.lastsubmissionwasfinal {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: white;
		color: red;
		text-align: center;
		font-weight: bold;
	}
}

/*
 *
 * Page related classes
 *
 * */
.page{
	.name {
		font-weight: bold;
	}

	.name,
	.intro,
	.content {
		width: 100%;
		max-width: 100%;
		margin-top: 10px;
		background-color: white;
		padding: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.progress-bar {
	text-align: left;
	background-color: #333333;
	height: 25px;
	width: 100%;
	margin: 50px 0;			
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;	          
}

.progress-bar span {
	display: inline-block;
	background-color: white;
	height: 100%;	
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;    
}

/*
 *
 * Book related classes
 *
 * */
.book{
	.x-floating {
		background-color: white !important;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
	}
	.index {
		font-size: normal;
		border-right: 1px solid $border-color;
		background-color: white;
		-webkit-transition: left 0.5s;
		-moz-transition: left 0.5s;
		-o-transition: left 0.5s;
		transition: left 0.5s;
		.chapter { }
		.subchapter { margin-left: 10px; }
	}

	.content {
		-webkit-transition: width 0.5s, left 0.5s;
		-moz-transition: width 0.5s, left 0.5s;
		-o-transition: width 0.5s, left 0.5s;
		transition: width 0.5s, left 0.5s;
	}
}

/*
 *
 * Network Picker related classes
 *
 * */
.networkpicker {
	.skype {
		margin: 10px;
		background:url('../images/skype_picker.png');
		background-position: center;
		background-repeat: no-repeat;
	}

	.phone {
		margin: 10px;
		background:url('../images/phone_picker.png');
		background-position: center;
		background-repeat: no-repeat;
	}

	.sms {
		margin: 10px;
		background:url('../images/sms_picker.png');
		background-position: center;
		background-repeat: no-repeat;
	}

	.email {
		margin: 10px;
		background:url('../images/email_picker.png');
		background-position: center;
		background-repeat: no-repeat;
	}
}

.messagebox-checkbox {
	background-color: black;
	color: white;
}
