*{-webkit-user-select:auto !important}span.scorm_highlight{color:#000;background:#66ff00}span.scorm_note{color:#000;background:yellow}.scorm_search_result{background:#64ff64}.content{top:0 !important}
